body{
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}


.Come_and_join{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 10px;
    z-index: 1;
    background-color: black;
    color: white;
    text-align: center;
}

.Sticky{
  position: sticky;
  top: 0px;
}


ul{
    margin: 0;
    padding: 0;
    list-style: none;
    text-transform:uppercase;
}

.navbar {
    position: absolute;
    top: 41px;
    left: 0px;
    right: 0px;
    background-color:rgb(123, 189, 165);
}

.nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
}

.nav-link {
    text-decoration: none;
    color: #fff;
    padding: 16px ;
    transition: background-color 0.3s ease;
}

/* Change color of clicked link */
.nav-link:hover {
    background-color: black;
}

.Logo_img{
 display: flex;
 justify-content: center;
 align-items: center;
 height: 90vh;
}

.Text{
    text-align: center;
}

.Img{
    width: 1170px;
    height: 900px;
    margin: auto;
}

.About_us_text{
    text-align: center;
    position: relative;
    bottom: 200px;
}

p {
    margin: 0;
    padding: 0;
}

.footer {
    position: absolute;
    top: 1900px;
    left: 0px;
    right: 0px;
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.footer-nav {
    margin-bottom: 20px;
}

.nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.nav-list li {
    margin: 0 10px;
}

.nav-list a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
}

.nav-list a:hover {
    color: #7fc39f; /* Change to your desired hover color */
}


.social-icons {
    margin-bottom: 10px;
}

.social-icon_Facebook {
    color: #fff;
    font-size: 32px;
    margin: 0 10px;
    text-decoration: none;
    transition: color 0.3s ease;
}

.social-icon_Instagram {
    color: #fff;
    font-size: 32px;
    margin: 0 10px;
    text-decoration: none;
    transition: color 0.3s ease;
}

.social-icon_YouTube {
    color: #fff;
    font-size: 32px;
    margin: 0 10px;
    text-decoration: none;
    transition: color 0.3s ease;
}

.social-icon_Facebook:hover {
    color: #3b5998; /* Change to your desired hover color */
}

.social-icon_Instagram:hover {
    color: #cd486b ; /* Change to your desired hover color */
}

.social-icon_YouTube :hover {
    color: #c4302b ; /* Change to your desired hover color */
}

.Phone_number{
    margin-top: 30px;
}

.address {
    margin-top: 30px;
    margin-bottom: 30px;
}